services:

  db:
    image: mysql:8.0.40
    container_name: mysql-db

    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: reservasapps
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass

    ports:
      - "3307:3306"

    volumes:
      - mysql-data:/var/lib/mysql

    networks:
      - app-network

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

    restart: unless-stopped


  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile

    container_name: spring-backend

    ports:
      - "8080:8080"

    environment:
      DATABASE_URL: "jdbc:mysql://db:3306/reservasapps?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
      DATABASE_USER: appuser
      DATABASE_PASSWORD: apppass

      JAVA_OPTS: "-Xms256m -Xmx512m"

    depends_on:
      - db

    networks:
      - app-network

    restart: unless-stopped


  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile

    container_name: angular-frontend

    ports:
      - "4200:80"

    depends_on:
      - backend

    networks:
      - app-network

    restart: unless-stopped


networks:
  app-network:
    driver: bridge

volumes:
  mysql-data:
